@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-light p-5">
    <h1 class="display-4">Bienvenido al Manejo CRUD del Grupo Nimer</h1>
    <p class="lead">El motor de base de datos es: <span class="text-primary font-weight-bold">@ViewData["MotorBD"]</span></p>
    <p class="lead">La cadena de conexión es: <span class="text-primary font-weight-bold">@ViewData["CadenaConexion"]</span></p>
</div>
