@{
    ViewData["Title"] = "Home Page";
}
<form method="post" asp-controller="Singleton" asp-action="CambiarBD">
    <p>La cadena de conexión es: @ViewData["CadenaConexion"]</p>
    <p>El motor de base de datos es: @ViewData["MotorBD"]</p>
    <button type="submit" name="bd" value="db1">Base de datos 1</button>
    <button type="submit" name="bd" value="db2">Base de datos 2</button>
    <button type="submit" name="bd" value="db3">Base de datos 3</button>
</form>

